#1 Define a variable and assign it your first name (bonus points for input command!)

In [1]:
name=input()

santosh

#2- Retrieve the last 3 characters of your name, assign it to a new variable

In [2]:
n_name=name[:3]
print(n_name)

san

#3- Add the first 3 characters of your name to the end of the previous variable, make it upper case then capitalize it

In [3]:
n_name=n_name+name[:3]
n_name.upper()
n_name.capitalize()

'Sansan'

#4- Create a new variable with the year of your birth (its ok to lie here)

In [4]:
yr=85

#5- Join your name (in lower case) and the last 2 digits of your year of birth into the same variable

In [5]:
newvar=name.lower()+str(yr)
newvar

'santosh85'

#6- Use the previous variable, multiply the digits by 2

In [6]:
yr*2

170

#7- Create an if statement, if that number is superior or equall to 178, print "you are 30 years old or younger", else print "you are 30 years old or older

In [7]:
if (yr>=178):
    print("you are 30 years old or younger")
else:
    print ("you are 30 years old or older")

you are 30 years old or older

#8- Replace in the following string the following characters: 0 by o and 3 by e

In [8]:
ReplaceMe = "Pyth0n Crash C0urs3 M0dul3 1"
newword=ReplaceMe.replace("0","o")
x=newword.replace("3","e") + " Exercises"
print(x)

Python Crash Course Module 1 Exercises

#9-  Join all the variables from the previous exercises with a ";" between each then split them by ";"

In [9]:
t=name+"-"+n_name+"-"+str(yr)+"-"+ReplaceMe+"-"+newword+"-"+x
print(t)

santosh-sansan-85-Pyth0n Crash C0urs3 M0dul3 1-Python Crash Cours3 Modul3 1-Python Crash Course Module 1 Exercises

In [10]:
t.split("-")

['santosh',
 'sansan',
 '85',
 'Pyth0n Crash C0urs3 M0dul3 1',
 'Python Crash Cours3 Modul3 1',
 'Python Crash Course Module 1 Exercises']

#10-There's a column from an excel file that we currently receive monthly that we want to extract, however its name is inconsistent. For example, the last 2 months it has been named 'SalesFiGuRES ' and 's AL Es'

However we expect it to always mention the word 'sales', find a way to describe the name of that column in a way that we can always find the correct column

In [11]:
name1 = 'SalesFiGuRES   '
name2 = 's AL Es'
name1 = name1.split(' ')
name2 = name2.split(' ')
name1=''.join(name1)
name2=''.join(name2)

t1=name1.upper()
t2=name2.upper()

print (t1)
print (t2)

fnd1=t1.find('SALES')
fnd2=t2.find('SALES')


if(fnd1>=0):
    print("this is the colmnn")
else:
    print("No column exists")

SALESFIGURES
SALES
this is the colmnn